html {
  background: #ebeff1;
  padding: 20px;
}

body {
  background: #fff;
  padding: 20px auto;
  margin: 30px auto;
  max-width: 900px;
  border-width: 0 2px 2px 0;
  border-color: #c7d4da;
  border-style: solid;
}

body,
.markdown-css {
  font-family: Lora, serif;
}

a,
.markdown-css a {
  color: #63a3bd;
}

.markdown-css h1 {
  font-weight: normal;
  font-size: 48px;
  margin-top: 40px;
}

.markdown-css h2,
.markdown-css h3 {
}

header,
footer {
  padding: 20px;
}

header a {
  padding: 12px 4px;
}
